:root {
    --primary-color: #0E6DFD;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

img {
    max-width: 70%;
}

section {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: auto 600px;
    border-radius: 20px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.work-link {
    display: flex;
    margin-top: 40px;
    justify-content: right;
}

.work-link a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.learn-link {
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}



footer {
    text-align: center;
}