:root {
    --primary-color: #0E6DFD;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }


h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: normal;
}

.hero {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: auto;
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h1 {
    font-size: 90px;
}

.hero h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #272142;
}

img {
    max-width: 70%;
}


h3 {
    text-align: center;
    font-size: 20px;
}


.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}


 
/* This section is for dictionary application on homepage*/
.project-description {
    padding: 20px;
}
.work-link {
    display: flex;
    margin-top: 40px;
    justify-content: right;
}

.work-link a {
    margin-left: 30px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.learn-link {
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}




/* This section is for weather application on homepage */

.weather-description {
    font-family: 'Poppins', sans-serif;
}
.weather-link {
    display: flex;
    margin-top: 40px;
    justify-content: right;
}

.weather-link a {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}




/* This section is for homepage on homepage */
.homepage {
    padding-left: 100px
}
.homepage-description {
    font-family: 'Poppins', sans-serif;
}



/* about page */



.about-me-description {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #272142;
    padding-top: 95px;
}

.picture-me {
    border-radius: 900%;
}

.about-me-description h1 {
    font-size: 70px;
}

.about-me-description h2 {
    font-size: 35px;
}



/* work page */

.dictionary-image {
    border-radius: 15px;
}

.portfolio-image {
    border-radius: 15px;
}



.project-link {
    display: flex;
    margin-top: 40px;
    justify-content: right;
}

.project-link a {
    margin-left: 30px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    margin-left: 140px;
}

.go-link {
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}







footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--primary-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-color);
    background: #EDEEEF;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--primary-color);
}

footer .contact-box {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); 
    padding: 30px 50px;
    border-radius: 10px;
}

.work-inquiry {
    font-size: 40px;
}

footer .contact-box p {
    margin: 0;
}

.btn-primary {
    padding: 20px;
}

.work-inquiry {
    text-align: center;
}

.AOC_logo {
    border-radius: 15px;
}